@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 0, 0;
    --background-end-rgb: 255, 255, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  font-size: 2.5em;
  margin-bottom: 10px;
}

p {
  color: #666;
  font-size: 1.2em;
  line-height: 1.6;
}

p strong {
  color: #000;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* components/SearchList.module.css */

.results {
  width: 100%;
  margin-top: 0px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  max-height: 220px;
  min-height:0px;
  overflow-y: scroll;
}

.result-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s;
}

.result-item:last-child {
  border-bottom: none;
}

.result-item:hover {
  background-color: #F0F8FF;
}

.result-item p {
  margin: 0;
  font-size: 16px;
}

.no-results {
  text-align: center;
  color: #999;
}